@import url("https://fonts.googleapis.com/css?family=Montserrat");

html {
    font-family: 'Montserrat';
    background-color: #22003D;
    color: #FFFFFF;
    width: 100%;
    height: 100%;
}

body {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0px;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

h1 {
    font-size: 30pt;
}

button {
    outline: none;
    border: none;
    font-size: 17px;
    color: #000000;
    background-color: #b8cb94;
    padding: 5px 15px;
    border-radius: 10px;
}
button:hover {
    opacity: 80%;
    cursor: pointer;
}