#contacts {
    min-width: 250px;
}
a {
    width: auto;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
a img {
    height: 100px;
}

.illustration {
    max-width: -webkit-fill-available;
    max-height: -webkit-fill-available;
}
.illustration img {
    width: auto;
    max-width: -webkit-fill-available;
    max-height: 350px;
    border-radius: 15px;
}
.illustration p {
    font-size: 10pt;
    color: blanchedalmond;
}

#article {
    width: auto;
    max-width: -webkit-fill-available;
    max-height: -webkit-fill-available;
    margin: 0px 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    align-items: flex-start;
}

#content {
    max-width: -webkit-fill-available;
    max-height: -webkit-fill-available;
    height: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    align-content: center;
    flex-direction: row;
}
body {
    max-height: -webkit-fill-available;
}


@media screen and (max-width: 900px) {
    #content {
        flex-direction: column;
        max-height: none;
    }
    body {
        max-height: max-content;
    }
}