@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

html {
    font-family: "Ubuntu", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    flex-wrap: wrap;
    user-select: none;
    --main: #3c3c6c;
    --secondary: #04548c;
    --source: #5f789e;
    --accent: #cc9d9d;
    --demo: #806491;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: row;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

a {
    text-decoration: none;
}

h1 {
    color: var(--main);
    font-size: 2.5rem;
    font-weight: 500;
    width: 100%;
    text-align: center;
    margin: 0.5rem 0;
}

h2 {
    color: var(--main);
    font-size: 1.8rem;
    font-weight: 400;
    width: 100vh;
    text-align: left;
    margin: 0.5rem 0;
}

h3 {
    color: var(--main);
    font-size: 1.2rem;
    font-weight: 500;
    width: 100%;
    text-align: left;
    margin: 0.5rem 0;
}

p {
    color: var(--secondary);
    font-size: 1rem;
    font-weight: 400;
    margin: 0.5rem 0;
}

.content {
    flex: 0 0 auto;
}

.illustration {
    flex: 1 1 auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.illustration img {
    flex: 1 1 auto;
    max-height: 100%;
    width: auto;
    object-fit: contain;
    display: block;
    border-radius: 5%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

p.source {
    color: var(--source);
    font-size: 0.9rem;
    font-weight: 500;
    text-align: center;
}
