#me, #my-projects {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 50%;
    padding: 3% 7%;
    box-sizing: border-box;
}

@media screen and (max-width: 800px) {
    body {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow-y: auto;
        overflow-x: hidden;
        height: 100%;
        width: 100%;
    }
    #me, #my-projects {
        width: 100%;
        height: 100%;
    }
    .illustration img {
        max-height: 40vh;
    }
}

#contacts{ 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
}

#contacts svg {
    fill: var(--source);
    width: 7vh;
    height: 7vh;
    margin: 0.5rem;
}

#projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin: 1rem 0;
}

.project a {
    color: var(--accent);
    font-weight: 500;
    margin-right: 1rem;
}
.project a.demo {
    color: var(--demo);
}

#projects img {
    width: 10vh;
    height: 10vh;
    object-fit: cover;
    border-radius: 10%;
    margin-right: 2vh;
}