.header {
    width: 100%;
    height: 10vh;
    padding-top: 3vh;
    position: fixed;
    top: 0;
    z-index: 10;
    background: var(--background);
}

.navbar {
    max-width: 40vw;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    display: flex;
}

.navbar a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    color: var(--accent);
}

@media screen and (max-width: 800px) {
    .navbar {
        max-width: 80vw;
        width: 80vw;
        padding-left: 10vw;
        padding-right: 10vw;
        height: 100%;
    }

    .navbar a {
        font-size: 0.7rem;
    }

    .header {
        width: 100vw;
        height: 8vh;
        padding-top: 1vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
    }
}