.header {
    width: 100%;
    height: 10vh;
    padding-top: 3vh;
    position: fixed;
    top: 0;
}

.navbar {
    max-width: 40vw;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    display: flex;
}

.navbar a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    color: var(--accent);  
}