#root {
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
  max-width: 100% !important;
}

html {
  scroll-behavior: smooth;
  font-family: "Fira Code", monospace;
  font-style: normal;
  --background: #09051E;
  --primary: #6DD9B2;
  --accent: #7867E5;
  --text: #E7F9F2;
  --text-accent: #D4BFC1;
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: calc(100vh * 32 / 1024);
}

body {
  font-optical-sizing: auto;
  background-color: var(--background);
  padding-left: 10vw;
  padding-right: 10vw;
  margin-bottom: 10vh;
  height: auto;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
  padding: 0;
}